* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(25, 21, 21);
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: white;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: center;
  height: 95vh;
  align-items: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 10px;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  border: 2px solid #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  background-color: red;
  transform: scale(1.1);
}

.card img {
  display: none;
  width: 100%;
  height: 100%;
}

.card.flipped img {
  display: block;
}

/* Media Query per dispositivi mobili */
@media (max-width: 768px) {
  .game-board {
    grid-template-columns: repeat(5, 80px); /* Modifica il numero di colonne per dispositivi più piccoli */
  }

  .card {
    width: 80px;
    height: 80px; /* Riduci la dimensione delle carte per adattarle allo schermo */
  }

  header h1 {
    font-size: 24px; /* Riduci la dimensione del titolo */
  }

  /* Messaggio di vittoria e pulsante */
  #win-message {
    font-size: 20px; /* Riduci la dimensione del testo per il messaggio di vittoria */
    padding: 15px;
  }

  #restart-button {
    font-size: 16px; /* Riduci la dimensione del pulsante */
  }
}

@media (max-width: 480px) {
  .game-board {
    grid-template-columns: repeat(2, 80px); /* Modifica ulteriormente per schermi molto piccoli */
  }

  .card {
    width: 70px;
    height: 70px; /* Riduci ulteriormente la dimensione delle carte */
  }

  header h1 {
    font-size: 20px; /* Ancora più piccolo per schermi molto piccoli */
  }
}
